{
  "name": "abb-api-mocked-control-measurements",
  "version": "0.0.3",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "start": "npm ci && node index.js"
  },
  "dependencies": {
    "dotenv": "^8.2.0",
    "express": "^4.17.1",
    "fs": "0.0.1-security",
    "source-map-support": "^0.5.16",
    "https": "^1.0.0"
  }
}
